@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ds8qar');
  src:  url('fonts/icomoon.eot?ds8qar#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ds8qar') format('truetype'),
    url('fonts/icomoon.woff?ds8qar') format('woff'),
    url('fonts/icomoon.svg?ds8qar#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home-outline:before {
  content: "\e900";
}
.icon-home:before {
  content: "\e901";
}
.icon-checkbox:before {
  content: "\e902";
}
.icon-checkmark:before {
  content: "\e903";
}
.icon-swap_vert:before {
  content: "\e904";
}
.icon-arrow_drop_down:before {
  content: "\e905";
}
.icon-arrow_drop_up:before {
  content: "\e906";
}
.icon-keyboard_arrow_down:before {
  content: "\e907";
}
.icon-keyboard_arrow_up:before {
  content: "\e908";
}
.icon-file_download:before {
  content: "\e909";
}
.icon-file_upload:before {
  content: "\e90a";
}
.icon-calendar:before {
  content: "\e914";
}
.icon-Calendar-Heart-Fill--Streamline-Outlined-Fill-Material-Pro-converted:before {
  content: "\e915";
}
.icon-credit:before {
  content: "\e916";
}
.icon-lifebuoy:before {
  content: "\e917";
}
.icon-chat:before {
  content: "\e918";
}
.icon-phone1:before {
  content: "\e920";
}
.icon-old-phone:before {
  content: "\e919";
}
.icon-phone:before {
  content: "\f095";
}
.icon-mobile:before {
  content: "\e91a";
}
.icon-phonelink_ring:before {
  content: "\e90b";
}
.icon-alternate_email:before {
  content: "\e90c";
}
.icon-Bed-Single--Streamline-Ultimate-converted:before {
  content: "\e92a";
}
.icon-motorcycle:before {
  content: "\f21c";
}
.icon-bike:before {
  content: "\e925";
}
.icon-plane:before {
  content: "\f072";
}
.icon-directions_bus:before {
  content: "\e90d";
}
.icon-directions_car:before {
  content: "\e90e";
}
.icon-directions_ferry:before {
  content: "\e90f";
}
.icon-directions_subway:before {
  content: "\e910";
}
.icon-directions_walk:before {
  content: "\e911";
}
.icon-directions_run:before {
  content: "\e912";
}
.icon-emoji_people:before {
  content: "\e913";
}
.icon-hand:before {
  content: "\e91b";
}
.icon-restaurant:before {
  content: "\e91c";
}
.icon-favorite_outline:before {
  content: "\e91d";
}
.icon-heart1:before {
  content: "\e926";
}
.icon-favorite:before {
  content: "\e91e";
}
.icon-heart:before {
  content: "\e921";
}
.icon-no_drinks:before {
  content: "\e91f";
}
.icon-wine:before {
  content: "\e922";
}
.icon-cutlery:before {
  content: "\f0f5";
}
.icon-map-signs:before {
  content: "\f277";
}
.icon-address:before {
  content: "\e923";
}
.icon-location:before {
  content: "\e924";
}
.icon-bookmark:before {
  content: "\e927";
}
.icon-map-pin:before {
  content: "\e928";
}
.icon-map:before {
  content: "\e929";
}
.icon-location_on:before {
  content: "\e92b";
}
.icon-bookmark1:before {
  content: "\e92c";
}
.icon-pin:before {
  content: "\e92d";
}
.icon-thumb-tack:before {
  content: "\f08d";
}
.icon-Sport-Bowling--Streamline-Nova-converted:before {
  content: "\e92e";
}
.icon-Wedding-Couple--Streamline-Ultimate-converted:before {
  content: "\e92f";
}
.icon-Rings-Couple--Streamline-Ultimate-converted:before {
  content: "\e930";
}
.icon-Book-Heart--Streamline-Lucide-converted:before {
  content: "\e931";
}
.icon-book:before {
  content: "\e932";
}
.icon-gift:before {
  content: "\f06b";
}
.icon-gift1:before {
  content: "\e933";
}
.icon-diamond:before {
  content: "\e934";
}
.icon-arrow-out:before {
  content: "\e935";
}
.icon-save:before {
  content: "\e936";
}
.icon-local_printshop:before {
  content: "\e937";
}
.icon-settings:before {
  content: "\e938";
}
.icon-loading-flower:before {
  content: "\e942";
}
.icon-drive_file_rename_outline:before {
  content: "\e939";
}
.icon-delete_forever:before {
  content: "\e93a";
}
.icon-Qr-Code--Streamline-Carbon:before {
  content: "\e941";
}
.icon-airbnb:before {
  content: "\e93b";
}
.icon-vrbo:before {
  content: "\e93c";
}
.icon-cozycozy:before {
  content: "\e93d";
}
.icon-facebook:before {
  content: "\e93e";
}
.icon-instagram:before {
  content: "\e93f";
}
.icon-snapchat:before {
  content: "\e940";
}
