/* _fonts.scss */

@font-face {
  font-family: 'montserrat';
  src: url('../fonts/Montserrat.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'lucy';
  src: url('../fonts/LucySaidOk.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-family: 'virnature';
  src: url('../fonts/Virnature-Regular.ttf') format('truetype');
  font-display: swap;
}
